{
  "env": {},
  "ignore": [],
  "plugins": [
    [
      "@babel/plugin-syntax-dynamic-import",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ],
  "presets": []
}