// Here you can add other styles
.login-error {
  color: red !important;
}

.loader {
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: 99999;
}

// .loader-table {
//   position: relative;
//   z-index: 1;
// }

.card-orders {
  // min-height: 500px;

}

.table-filters {
  margin-bottom: 20px;
}